.menuContent {
  --offset-y: 3.25rem !important;
  --color-text: var(--color-primary);
  --border-radius-default: 1.25rem;
  --content-width: calc(var(--symbol-menu-width) + var(--scrollbar-width));
  --offset-right: var(--content-width);
  --offset-x: calc(var(--offset-right) - var(--content-width)) !important;

  width: 100%;
  max-width: var(--content-width);

  height: var(--symbol-menu-height);
  padding: 0 !important;

  :global(body:not(.no-menu-blur)) & {
    --color-background: var(--color-background-compact-menu);
    backdrop-filter: blur(25px);
  }

  @media (max-width: 27.5rem) {
    left: 0.5rem !important;
    right: 0.5rem !important;
    width: calc(100vw - 1rem);
  }

  :global(.sticker-set-cover), :global(.custom-emoji) {
    color: var(--color-primary);
  }
}
